<div class="mt-32">

    <div class="flex justify-center text-2xl text-slate-500">

        <span>Welcome to <code class="text-slate-50 bg-slate-500 rounded p-1">echo</code> %email%.</span>

    </div>

</div>