<div>

    <div class="flex justify-end text-lg">
        <a class="text-slate-200 hover:text-slate-500 py-1 px-2 transition duration-500" href="/apps/echo/admin" title="Administration"><i class="fa-solid fa-terminal"></i></a>
    </div>

    <div class="flex justify-center text-2xl text-slate-500 mt-24">

        <div class="flex flex-col">
    
            <div>

                <span>Welcome to</span>

                <button>
                    <code id="echo" class="transition duration-500 text-slate-50 bg-slate-500 rounded py-1 px-2 border-r-4 hover:text-slate-500 hover:bg-slate-50">echo</code>
                </button>

            </div>

        </div>

    </div>

</div>