<div class="mt-32">

    <div class="flex justify-center text-2xl text-slate-500">

        <span>Welcome to <code class="text-slate-50 bg-slate-500 rounded py-1 px-2 border-r-4">echo</code></span>

    </div>

</div>